* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color:#010114;
    overflow: none;
    color: white;
    font-family: sans-serif;
}

.navbar {
  width: 100vw;
  height: 5vh;
  display: block;
  text-align: center;
}

.nav-item {
  font-size: 1.5rem;
  padding: 10px 30px;
  display: inline-block;
}

footer {
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
}

footer h1 {
  margin-bottom: 0.5em;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: white;
}

.content-item h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

.follow {
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 1em;
  padding: 5px;
}

.social p {
  margin-top: 10px;
}

.social i {
  color: lightskyblue;
}

.social:hover i {
  color: rgb(0, 100, 100);
}

.container {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
